IntervalorClient/Intervalor.Cliente/Service References/SuspeitoServiceReference/SuspeitoService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/InterValor.WCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/InterValor.WCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSuspeito">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Suspeito" nillable="true" type="tns:Suspeito" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSuspeito" nillable="true" type="tns:ArrayOfSuspeito" />
  <xs:complexType name="Suspeito">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdSuspeito" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Suspeito" nillable="true" type="tns:Suspeito" />
</xs:schema>